
.title-background {
    height: 85px;
    text-align: center;
    background: url(../../../public/images/Recruitment-background.png) no-repeat center;
}

.RP-Arrow{
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    padding: 50px;
    opacity: 0
}

.RP-Recruit{
    color: black;
    font-size: 40px;
    line-height: 78px
}

.RP-Code{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    position: relative
}

.RP-Weixin{
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center
}

.recruitment-content-work {
    color: #fad524;
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 45px;
}


#footer {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.recruitment-left {
    animation: Left 2s forwards;
}

.recruitment-right {
    animation: Right 2s forwards;
}

.arrow-animation-style {
    animation: arrow 2s forwards;
}

@keyframes Right {
    from {
        opacity: 0;
        position: relative;
        left: 200px;
        right: -200px;
    }
    to {
        opacity: 1;
        position: relative;
        left: 0;
        right: 0;
    }
}

@keyframes Left {
    from {
        opacity: 0;
        position: relative;
        left: -200px;
        right: 200px;
    }
    to {
        opacity: 1;
        position: relative;
        left: 0;
        right: 0;
    }
}

@keyframes arrow {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}